main {
	background: #FFC0CB;
	width: 870px;
    height: 470px;
    padding: 1px 35px 15px 22px;
}

h1 {
	text-align: center;
}

img {
	width: 230px;
	margin-left: -40px;
}

figcaption {
	font-size: 15px;
	margin-left: -40px;
	margin-top: -15px;
	margin-bottom: -10px;
}

meter {
	margin-top: -10px;
	width: 170px;
	height: 20px;
}

section {
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.left {
	margin-left: 60px;
}

