article {
	background-color: black;
	width: 1000px;
	height: 400px;
	padding: 10px 30px 10px 33px;
}

div{
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	
}

a {
	font-size: 34px;
	color: white;
	text-decoration: none;
}

h1 {
	color: #F2C106;
	text-align: center;
	font-size: 40px;
	margin-top: -2px;
}

iframe {
	border: 1px solid yellow;
}